.modal-dialog {
    max-width: 400px;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    background: linear-gradient(135deg, #003366 0%, #6699CC 100%);
    color: white;
    border: none;
}
.card-text {
    margin-left: 2rem;
}

h5[class="card-title"], .card-text{
    color: white;
}
.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card-body h5 {
    font-weight: bold;
}
.table thead tr > th {
    color: white;
}

.table thead tr > th, .table tbody tr > th {
    background-color: transparent;
}
.table thead {
    background-color: #003366;
    color: white;
}
.table tbody tr {
    transition: background-color 0.3s, transform 0.3s;
}
.table tbody tr:hover {
    translate: scale(1.02);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.table tbody tr:hover > td {
    background-color: transparent;
}
.btn {
    background: linear-gradient(135deg, #003366 0%, #6699CC 100%);
    color: white;
    border: none;
    transition: background 0.3s ease-in-out, transform 0.3s;
}
.btn:hover {
    background: linear-gradient(135deg, #6699CC 0%, #003366 100%);
}
.btn:active {
    transform: scale(0.95);
}
.container {
    max-width: 800px;
    margin: auto;
}
